---
import BaseHead from '../components/BaseHead.astro'; // <head>
import MainNav from '../components/MainNav.astro'; // logo, nav
import Pager from '../pages/book/[page].astro';

const { content } = Astro.props;
const { title, description, author, coverImage, permalink } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
    <article class="book-details">
      <header>
        <h1 class="title">{title}</h1>
        <h2 class="author"><span>by</span> {author}</h2>
        <Pager />
      </header>
      <div class="book-content">
        <main>
          <section>
            <slot />
          </section>
        </main>
        <div class="book-cover-col">
          {coverImage && <img width="100%" height="auto" class="book-cover" loading="lazy" src={coverImage} alt={title} /> }
        </div>
      </div>
    </article>
	</body>
</html>
