---

import { Image } from 'astro:assets'; // …/guides/images/
import BaseHead from '@components/BaseHead.astro'; // <head>
import Footer from '@components/Footer.astro';
import MainNav from '@components/MainNav.astro'; // logo, nav
// import ReadingTime from '@components/ReadingTime.astro';

const { frontmatter } = Astro.props;
const { slug } = Astro.params;
const bookCover  = ["/covers/" + frontmatter.coverImage];
const pageTitle = [frontmatter.title + " by " + frontmatter.author];
const permalink = [Astro.url];
---

<html lang="en">
	<head>
		<BaseHead {pageTitle} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
    <article class="book-details">
      <header>
        <h1 class="title">{frontmatter.title}</h1>
        <h2 class="author"><span>by </span> {frontmatter.author}</h2>
      </header>
      <div class="book-content">
        <main>
          <section>
            <div class="reading-time">
              { frontmatter.startDate && <div><h4>Started:</h4><p>{frontmatter.startDate}</p></div> }
              { frontmatter.finishDate ? 
                <div><h4>Finished:</h4><p>{frontmatter.finishDate}</p></div> : 
                <div><h4>Finished:</h4><p>Currently Reading</p></div>
              }
            </div>
            <h3>Description</h3>
            <slot />
            <h3 class="mt-8">Get a copy</h3>
            {frontmatter.library   && <p><a href={frontmatter.library}>Local Library</a></p> }
            {frontmatter.bookshelf && <p><a href={frontmatter.bookshelf}>Bookshop.org</a></p> }
            {frontmatter.bookshop  && <p><a href={frontmatter.bookshop}>Bookshop.org</a></p> }
            {frontmatter.amazon    && <p><a href={frontmatter.amazon}>Amazon</a></p> }
            {frontmatter.other     && <p><a href={frontmatter.other}>Website</a></p> }
          </section>
        </main>
        <div class="book-cover-col">
          <!-- <Image style="border:4px solid #f0f;" src={frontmatter.astroImage} alt={pageTitle} width="960" height="100%" class="book-cover sticky top-4" transition:name={slug} /> -->
            <!-- <p class="mb-12">Path: {frontmatter.astroImage}</p> -->
            <img src={bookCover} alt={pageTitle} width="960" height="100%" class="book-cover sticky top-4" transition:name={slug} />
        </div>
      </div>
    </article>
    <Footer />
	</body>
</html>
