---
import BaseHead from '../components/BaseHead.astro'; // <head>
import Footer from '../components/Footer.astro';
import MainNav from '../components/MainNav.astro'; // logo, nav
import BuyBook from '../components/BuyBook.astro';
import ReadingTime from '../components/ReadingTime.astro';

const { content } = Astro.props;
const { title, description, author, coverImage, permalink, library, bookshelf, amazon, other, startDate, finishDate } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
    <article class="book-details">
      <header>
        <h1 class="title">{title}</h1>
        <h2 class="author"><span>by</span> {author}</h2>
      </header>
      <div class="book-content">
        <main>
          <section>
            <ReadingTime {startDate} {finishDate} />
            <h3>Description</h3>
            <slot />
            <BuyBook {library} {bookshelf} {amazon} {other} />
          </section>
        </main>
        <div class="book-cover-col">
          {coverImage && <img width="100%" height="auto" class="sticky top-4 book-cover" loading="lazy" src={coverImage} alt={title} /> }
        </div>
      </div>
    </article>
    <Footer />
	</body>
</html>
