---
import { Image } from 'astro:assets';
import BaseHead from '@components/BaseHead.astro'; // <head>
import Footer from '@components/Footer.astro';
import MainNav from '@components/MainNav.astro'; // logo, nav

const { title, author, coverImage, added, library, bookshop, amazon, other } = Astro.props;
const bookCover = `/covers/${coverImage}`;
const pageTitle = `${title} by ${author}`;
const permalink = [Astro.url];

function formatDate(dateString) {
  if (!dateString) return '';
  const date = new Date(dateString);
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
    timeZone: 'UTC'
  });
}

// Import all cover images
const coverImages = import.meta.glob('/src/content/covers/*.{webp}');
// Find the matching cover by filename
const coverImagePath = Object.keys(coverImages).find(path => path.endsWith(`/${coverImage}`));
const coverImageModule = coverImagePath ? await coverImages[coverImagePath]() : null;
const coverImageSrc = coverImageModule?.default;


---

<html lang="en">
	<head>
		<BaseHead {pageTitle} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
    <article class="book-details" data-pagefind-body>
      <header>
        <h1 class="title">{title}</h1>
        <h2 class="author"><span>by </span> {author}</h2>
      </header>
      <div class="book-content">
        <main>
          <section>
            <div class="reading-time">
              { added && <div><h3 class="h4">Added:</h3><p>{formatDate(added)}</p></div> }
            </div>
            <h3>Description</h3>
            <slot />
            <h3 class="mt-8">Get a copy</h3>
            {library   && <p><a href={library}>Local Library</a></p> }
            {bookshop  && <p><a href={bookshop}>Bookshop.org</a></p> }
            {amazon    && <p><a href={amazon}>Amazon</a></p> }
            {other     && <p><a href={other}>Website</a></p> }
          </section>
        </main>
        <div class="book-cover-col">
            <Image
              src={bookCover}
              alt={pageTitle}
              width={480}
              height={960}
              class="book-cover sticky top-4"
              transition:name={Astro.props.slug}
              transition:animate="slide"
              />
        </div>
      </div>
    </article>
    <Footer />
	</body>
</html>
