---
import { Image } from 'astro:assets';
import BaseHead from '@components/BaseHead.astro'; // <head>
import Footer from '@components/Footer.astro';
import MainNav from '@components/MainNav.astro'; // logo, nav

const { title, author, coverImage, added, library, bookshelf, bookshop, amazon, other } = Astro.props;
const bookCover = `/covers/${coverImage}`;
const pageTitle = `${title} by ${author}`;
const permalink = [Astro.url];

// Function to format the date
function formatDate(date) {
  if (!date) return '';
  
  let dateObj;
  if (typeof date === 'string') {
    // If it's already in the format we want, just return it
    if (/^\d{4} [A-Z][a-z]{2} \d{1,2}$/.test(date)) {
      return date;
    }
    // Otherwise, try to parse it
    dateObj = new Date(date);
  } else if (date instanceof Date) {
    dateObj = date;
  } else {
    return ''; // Return empty string for invalid input
  }

  // Check if the date is valid
  if (isNaN(dateObj.getTime())) {
    return '';
  }

  const year = dateObj.getFullYear();
  const month = dateObj.toLocaleString('default', { month: 'short' });
  const day = dateObj.getDate().toString().padStart(2, '0');

  return `${year} ${month} ${day}`;
}

const formattedDate = formatDate(added);
---

<html lang="en">
	<head>
		<BaseHead {pageTitle} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
    <article class="book-details" data-pagefind-body>
      <header>
        <h1 class="title">{title}</h1>
        <h2 class="author"><span>by </span> {author}</h2>
      </header>
      <div class="book-content">
        <main>
          <section>
            <div class="reading-time">
              { formattedDate && <div><h3 class="h4">Added:</h3><p>{formattedDate}</p></div> }
            </div>
            <h3>Description</h3>
            <slot />
            <h3 class="mt-8">Get a copy</h3>
            {library   && <p><a href={library}>Local Library</a></p> }
            {bookshelf && <p><a href={bookshelf}>Bookshop.org</a></p> }
            {bookshop  && <p><a href={bookshop}>Bookshop.org</a></p> }
            {amazon    && <p><a href={amazon}>Amazon</a></p> }
            {other     && <p><a href={other}>Website</a></p> }
          </section>
        </main>
        <div class="book-cover-col">
          <Image
            src={bookCover}
            alt={pageTitle}
            width={960}
            height={1440}
            format="webp"
            quality={80} 
            class="book-cover sticky top-4" 
            transition:name={Astro.props.slug}
            transition:animate="slide"
          />
        </div>
      </div>
    </article>
    <Footer />
	</body>
</html>
